
@{
    ViewBag.Title = "About";
}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>About</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="blog-details-inner spad">
                <div class="blog-detail-title">
                    <h4>WHO WE ARE</h4>
                </div>
                <div>
                    <p>
                        PriceBey provides an expedient and unrestricted experience in online shopping of the products that you are searching with the best prices available in Pakistan.
                        PriceBey steers you to a whole new effortless territory by placing in this website an extensive variety of top-class brands with the best possible prices available.
                    </p>
                </div>

                <div class="blog-detail-title">
                    <h4>COMPARING WITH US COSTS YOU NOTHING.</h4>
                </div>

                <div class="">
                    <p>
                        We display the prices that we gather from the online shopping stores for you for any product.
                        There is NO FEE for customers going through PriceBey to the relevant store for purchasing the product – guaranteed.
                    </p>
                </div>


            </div>
        </div>
    </div>
</div>