
@{
    ViewBag.Title = "About";
}
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-details-inner">
                    <div class="blog-detail-title">
                        <h2>About Us</h2>
                    </div>

                    <div class="blog-detail-desc">
                        <p>
                            <strong>Find the lowest prices for your next online purchase at PriceBey</strong>
                        </p>
                        <p>
                            <strong> PriceOye </strong>
                            is a price comparison website for all popular online shopping websites in Pakistan.
                        </p>
                        <p>
                            We solve a critical part of your online shopping experience.
                            People generally research for mobile smartphones, Power Banks, laptops, Air Conditioners, Refrigerators and Smart TV  online by checking specifications, competitor products,
                            reviews, photos, and comparing price of the final product on different websites and shops.
                            PriceBey brings much of that experience under one roof: you can come to our website to view product specifications,
                            see similar products, and photos, etc. More importantly, we list prices from all popular online shopping websites
                            so you can "
                            <strong>find the lowest price of mobile smartphones, Power Banks, laptops, Air Conditioners, Refrigerators and Smart TV </strong>
                            "without having to go to separate
                            online shopping websites!
                        </p>
                        <p>Once you use PriceBey, you will never shop online again without it!</p>
                        <p>
                            <strong>The lowest price comparison website in Pakistan</strong>
                        </p>
                        <p>
                            It is the first of its kind service in Pakistan, as we have brought the concept of an automated price comparison engine
                            to the local online shopping market. Prices of all mobile smartphones and laptops are updated automatically
                            on a regular basis thanks to an intelligent software that works 24/7 to ensure our customers always get the lowest prices!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


