@model IEnumerable<PriceBey.Models.PriceClickHistory>

@{
    ViewBag.Title = "Click History";
}

<h1 class="h3 mb-2 text-gray-800">Click History</h1>


<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered" >
                <tr>
                    <th>
                        URL
                    </th>
                    <th>
                        Date
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice.Url)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>

                    </tr>
                }

            </table>

            
        </div>
    </div>
</div>


